@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    src:
            url('../fonts/gilroylight.woff2') format('woff2'),
            url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    src:
            url('../fonts/gilroyextrabold.woff2') format('woff2'),
            url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src:
            url('../fonts/opensanslight.woff2') format('woff2'),
            url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src:
            url('../fonts/opensans.woff2') format('woff2'),
            url('../fonts/opensans.woff') format('woff');
}
:root {
    --black-basic: #000000;
    --black-medium: #363636;
    --black-light: #464646;
    --black-opacity-03: #0000004d;
    --neutral-opacity-03: #0000004d;
    --neutral-opacity-04: #00000066;

    --gray-basic: #7e7e7e;
    --gray-neutral: #dcdcdc;
    --gray-light: #e5e5e5;
    --gray: #c7c4c4;
    --gray-btn: #d9d9d9;
    --gray-input: #f2f2f2;
    --gray-form: #eaeaea;

    --white-basic: #ffffff;
    --white-opacity-07: #ffffffb3;
    --white-opacity-03: #ffffff4d;

    --yellow: #f7e296;
    --yellow-dark: #f0c52e;
    --yellow-stick: #ffc600;
    --green: #91c92f;
    --pink: #f6dada;

    --header-gradient: linear-gradient(180deg, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
    --yellow-gradient-slider: linear-gradient(180deg, rgb(247, 226, 150) 115px, rgb(255, 255, 255) 115px);
    --gray-gradient-slider: linear-gradient(180deg, rgb(255, 255, 255) 145px, rgb(229, 229, 229) 145px);

    --shadow: 0 10px 20px rgba(0, 0, 0, .2);
    --alt-font: "Open Sans", "Arial", sans-serif;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    /*overflow-x: hidden;*/
    font-size: 18px;
    line-height: 22px;
    /*color: var(--basic-white);*/
    /*text-transform: uppercase;*/
    background-color: var(--white-basic);
}

a {
    text-decoration: none;
}

.visually-hidden{
    color: transparent;
}

.retailers-list{
    list-style: none;
}
