@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    src:
            url('../fonts/gilroylight.woff2') format('woff2'),
            url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    src:
            url('../fonts/gilroyextrabold.woff2') format('woff2'),
            url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src:
            url('../fonts/opensanslight.woff2') format('woff2'),
            url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src:
            url('../fonts/opensans.woff2') format('woff2'),
            url('../fonts/opensans.woff') format('woff');
}
:root {
    --black-basic: #000000;
    --black-medium: #363636;
    --black-light: #464646;
    --black-opacity-03: #0000004d;
    --neutral-opacity-03: #0000004d;
    --neutral-opacity-04: #00000066;

    --gray-basic: #7e7e7e;
    --gray-neutral: #dcdcdc;
    --gray-light: #e5e5e5;
    --gray: #c7c4c4;
    --gray-btn: #d9d9d9;
    --gray-input: #f2f2f2;
    --gray-form: #eaeaea;

    --white-basic: #ffffff;
    --white-opacity-07: #ffffffb3;
    --white-opacity-03: #ffffff4d;

    --yellow: #f7e296;
    --yellow-dark: #f0c52e;
    --yellow-stick: #ffc600;
    --green: #91c92f;
    --pink: #f6dada;

    --header-gradient: linear-gradient(180deg, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
    --yellow-gradient-slider: linear-gradient(180deg, rgb(247, 226, 150) 115px, rgb(255, 255, 255) 115px);
    --gray-gradient-slider: linear-gradient(180deg, rgb(255, 255, 255) 145px, rgb(229, 229, 229) 145px);

    --shadow: 0 10px 20px rgba(0, 0, 0, .2);
    --alt-font: "Open Sans", "Arial", sans-serif;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    /*overflow-x: hidden;*/
    font-size: 18px;
    line-height: 22px;
    /*color: var(--basic-white);*/
    /*text-transform: uppercase;*/
    background-color: var(--white-basic);
}

a {
    text-decoration: none;
}

p{
    font-family: var(--alt-font);
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

/* Main navigation */

.main-header-logo img:hover{
    opacity: 70%;
}

.main-header-logo img:active
{
    opacity: 30%;
}

.main-navigation {
    /*font-size: 16px;*/
    /*line-height: 20px;*/
    /*color: var(--basic-white);*/

    /*background-color: transparent;*/
}

.site-navigation {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.user-navigation{
    font-family: var(--alt-font);
    color: var(--black-basic);
    font-weight: 300;
    font-size: 15px;
}

.site-navigation a,
.user-navigation a {
    color: var(--black-basic);
}

.site-navigation a:hover,
.user-navigation a:hover
 {
    opacity: 70%;
}

.user-navigation a:focus {
    opacity: 30%;
}

.site-navigation a:active
{
    opacity: 30%;
}

.main-navigation-wrapper{
    background-color: var(--yellow);
    width: 1160px;
    height: 300px;
}


/*Partners-stores*/

.visually-hidden{
    color: transparent;
}

.retailers-list{
    list-style: none;
}

/*gallery-description*/

.gallery-description h2{
    font-size: 47px;
    line-height: 58px;
}


/*Button*/

.button{
    font: inherit;
    vertical-align: middle;
    text-align: center;
    color: var(--black-basic);
    text-transform: uppercase;
    letter-spacing: 0.2em;

    background-color: var(--yellow-dark);
    border: none;
}


.button:hover,
.button:focus,
.button:active {
    background-color: var(--special);
}

/*.button.disabled,*/
/*.button:disabled {*/
/*    background-color: var(--basic-black);*/
/*    cursor: default;*/
/*    opacity: 0.5;*/
/*}*/

/*Features*/

.features-list{
    list-style: none;
}

.features-item h3, h4{
    font: inherit;
    font-weight: 300;
}

.features-list h3{
    font-size: 36px;
}

.features-item h4{
    font-size: 13px;
}

/*Categories*/

.categories-list{
    list-style: none;
}
.categories-item{
    font: inherit;
    letter-spacing: .05em;
}
.categories-item img{
    background-color: var(--yellow);
    height: 160px;
    width: 160px;
}

/*Services*/

.services-list{
    list-style: none;
}

.services h2{
    font: inherit;
    font-size: 47px;
    letter-spacing: .2em;
    line-height: 58px;
}

.services{
    background-color: var(--gray-light);
    width: 1440px;
    height: 288px;
}

/*About*/

.about h2{
    font: inherit;
    font-size: 47px;
    letter-spacing: .2em;
    line-height: 58px;
}
.about-list{
    list-style: none;
    font-size: 16px;
    line-height: 28px;
}

.about p{
    line-height: 28px;
}


/*Contacts*/
.contact h2{
    font: inherit;
    font-size: 47px;
    letter-spacing: .2em;
    line-height: 58px;
}

.contact p{
    line-height: 28px;
}

/*Footer*/

.page-footer{
    background-color: var(--black-medium);
    width: 1440px;
    height: 324px;
}

.main-navigation-wrapper-black a, p{
    font-family: var(--alt-font);
    color: var(--white-basic);
    font-weight: 300;
    font-size: 15px;
}

.footer-list{
    list-style: none;
}
.footer-item a{
    font: inherit;
    color: var(--white-basic);
    letter-spacing: 0.2em;
    line-height: 22px;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

/*.footer-copyright a,*/
/*.footer-copyright .button:focus {*/
/*    color: var(--basic-black);*/

/*    background-color: var(--basic-white);*/
/*}*/
